$header-height: 94px;
$padding: 77px;
$mobile-width: 600px;
$tablet-width: 1024px;

$main-color: #1b6ef6;
$white-color: #fff;
$black-color: #000;
$orange-color: rgb(255, 199, 96);

$text-color: #242424;
$background-color: #e5ecf4;

$primary-color: #393e46;
$purple-color: #701498;
$header-color: rgba(
  $color: #1a1a1a,
  $alpha: 0.2,
);
$header-background: #eeeeee;

@keyframes lighter {
  0% {
    text-shadow: 0 0 10px rgba($color: $primary-color, $alpha: 0.5);
  }
  25% {
    text-shadow: 0 0 10px rgba($color: $primary-color, $alpha: 0.5),
      0 0 20px rgba($color: $primary-color, $alpha: 0.5);
  }
  50% {
    text-shadow: 0 0 10px rgba($color: $primary-color, $alpha: 0.5),
      0 0 20px rgba($color: $primary-color, $alpha: 0.5),
      0 0 40px rgba($color: $primary-color, $alpha: 0.3);
  }
  25% {
    text-shadow: 0 0 10px rgba($color: $primary-color, $alpha: 0.5),
      0 0 20px rgba($color: $primary-color, $alpha: 0.5);
  }
  100% {
    text-shadow: 0 0 10px rgba($color: $primary-color, $alpha: 0.5);
  }
}
